.master .img
{
  width: 70px;
  height: 65px;
  margin-bottom: -16px;
}
.master h3, .info
{
  display: inline;
}
.master h6
{
  margin-left: 120px;
  margin-bottom: -25px;
}
.master .but1, .master .but2
{
  width: 95px;
  background: inherit;
  border: none;
  font-weight: bold;
}
.master .but1
{
  position: relative;
  left: 300px;
  top: -4px;
}
.master .but2
{
  position: relative;
  left: 200px;
  top: -37px;
}
.text
{
  margin: 10px;
  padding: 5px;
  background: inherit;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
.fas
{
  font-size: 51px;
  margin-right: 15px;
  margin-top: 12px;
}
