<div class="tm-row">
  <div class="tm-col-left"></div>
  <main class="tm-col-right">
    <section class="tm-content">
      <section class="tm-content tm-about">
        <div class="media my-3">
          <i class="fas fa-chalkboard-teacher"></i>
          <div class="media-body master">
            <img src="assets/images/bg-01.jpg" />
            <h3>Eslam Khder</h3>
            <h6>English</h6>
            <button class="but1"><a href="#">Profile</a></button>
            <button class="but2"><a href="#">Cancel</a></button>
          </div>
        </div>
      </section>
    </section>
  </main>
</div>
